/* RESETS */

* {
    /* border: 1px solid rgba(255,0,0,1);
    background-color: rgba(255,0,0,0.1); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header div{
    display: inline-block;
    text-align: right;
    width: calc(100vw - 150px);
    font-size: 16px;
}

header div p:first-child{
    font-weight: bold;
    font-size: 2em;
}

header div p:first-child i:hover{
    filter: drop-shadow(0 3px 3px rgb(255, 208, 0));
    transition: all 0.6s ease-in;
}

.info-inicial, aside{
    margin: 20px 40px;
    padding: 10px;
    border-radius: 10px;
    background-color: lightgray;
}

header, footer{
    background-color: powderblue;
    padding: 16px;
    background-image: linear-gradient(45deg, #6caeb6, #b0e0e6);
}

header {
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.5));
}

footer {
    filter: drop-shadow(0 -3px 3px rgba(0,0,0,0.5));
    text-align: center;
}

section:first-child{
    text-align: center;
}

section:not(:first-child){
    margin-top: 20px;
}

aside section:nth-child(2n) h3{
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    /* cursor: pointer; */
}

a:hover {
    color: rgb(24,9,107);
    transition: color 0.6s ease-in;
}

ul {
    list-style: none;
}

h4, li:first-child{
    margin-top: 10px;
}

li:last-child{
    margin-bottom: 20px;
}

#meuHeader, aside p{
    font-weight: bold;
}

/* section.destaque{
    color:red;
}
    */

#meuHeader img {
    border-radius: 50%;
}

#meuHeader img:hover{
    transform: rotate(30deg) scale(1.05);
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
    transition: all 0.8s ease-in-out;
}

.info-inicial section h2 {
    margin-bottom: 20px;
}

.info-inicial img:hover {
    filter: brightness(0.5);
    transition: all 0.8s ease-in-out;
}

article.portfolio p {
    text-align: justify;
    padding: 10px;
}

article.portfolio {
    display: inline-block;
    width: 30%;
}

a#irParaOTopo[href='#meuHeader'] {
    background-color: crimson;
    color: #fff;
    text-transform: lowercase;
    border-radius: 30px;
    display: block;
    position: fixed;
    bottom: 12px;
    right: 12px;
    padding: 5px 10px;
    border: 2px solid white;
}

.meioAMeio {
    width: calc(50% - 5px);
    display: inline-block;
    vertical-align: text-top;
}